li.post(id='#{number}')
    header
        time(datetime='#{isoDatetime}' title='#{prettyDatetime}') #{prettyTime}
    .body
        if image
            figure
                .thumb(id='t#{number}')
                    img(
                        src="{{c.url image.id quality='50' fetch_format='auto' width=80 height=80 crop='limit'}}"
                        )
                    figcaption #{prettyImageName}
                .full.absent(id='f#{number}')
                    a.btn(href="{{c.url image.id fetch_format='auto'}}" target='_blank') View full size (#{prettyImageDimensions})
                    img(
                        id='i#{number}'
                        data-src="{{c.url image.id quality='50' fetch_format='auto' width=536 crop='limit'}}"
                        )
        .comment !{prettyComment}
    .options
        button.reply(id='r#{number}' title='Reply to this post') Reply
        !{prettyForelinks}