.post-container(id='#{number}')
    .post-header
        button.post-reply-btn
            .post-id #{number}
            .reply-hint.absent(id='rh#{number}') >>
    .post-body
        if image
            .post-image(id='img#{number}')
                img(src="{{c.url image quality='50' fetch_format='auto' width=160 height=160 crop='limit'}}")
            .post-image-full.absent(id='imgf#{number}')
                img.scaled(src="{{c.url image quality='50' fetch_format='auto'}}")
        .post-text !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-forelinks !{prettyForelinks}