.post(id='#{number}')
    header
        time(datetime='#{isoDatetime}') #{prettyTime}
        .reply-hint.invisible(id='rh#{number}') Reply
    .body
        if image
            .image
                img.thumb(
                    id='t#{number}'
                    src="{{c.url image quality='50' fetch_format='auto' width=160 height=160 crop='limit'}}"
                    )
                img.full.absent(
                    id='i#{number}'
                    data-src="{{c.url image quality='50' fetch_format='auto' width=760 crop='limit'}}"
                    )
        .comment !{prettyContent}
    .meta
        .forelinks !{prettyForelinks}