.post-container(id='#{number}')
    .post-header
        .reply-hint.invisible(id='rh#{number}')
        button.post-reply-btn
            .post-id #{number}
    .post-body !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-forelinks !{prettyForelinks}