.post-container(id='#{number}')
    .post-header
        button.post-reply-btn
            .post-id #{number}
            .reply-hint.absent(id='rh#{number}') >>
    .post-body
        .post-image(id='img#{number}')
            img(src="{{c.url image fetch_format='auto' width=160 height=160 crop='limit'}}")
        .post-image-full.absent(id='imgf#{number}' style='width: #{image_width}')
            img(src="{{c.url image fetch_format='auto'}}")
        .post-text(style='max-width: #{image_width}') !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-forelinks !{prettyForelinks}