.post-container(id='#{number}')
    .post-header
        button.post-reply-btn
            .front #{number}
            .back reply
    .post-body !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-forelinks !{prettyForelinks}