.post-container(id='p#{number}')
    .post-header
        .post-reply-btn
            div($dyn=numberAttrs) #{number}
    .post-body !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-replies !{prettyReplies}