.post(id='#{number}')
    header
        time(datetime='#{isoDatetime}' title='#{prettyDatetime}') #{prettyTime}
    .body
        if image
            .image
                img.thumb(
                    id='t#{number}'
                    src="{{c.url image quality='50' fetch_format='auto' width=160 height=160 crop='limit'}}"
                    )
                img.full.absent(
                    id='i#{number}'
                    data-src="{{c.url image quality='50' fetch_format='auto' width=736 crop='limit'}}"
                    )
        .comment !{prettyComment}
    .options
        button.reply(id='r#{number}' title='Reply to this post') #{number}->