.postContainer(id='p#{number}')
    .postNumber 
        .postReplyBtn
            div($dyn=numberAttrs) #{number}
    .postBody !{prettyContent}
    .postInfo
        .postTime #{prettyTimestamp}
        .postReplies #{prettyReplies}