.post-container(id='#{number}')
    .post-header
        button.post-reply-btn
            .post-id #{number}
            .reply-hint.absent(id='rh#{number}') >>
    .post-body !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-forelinks !{prettyForelinks}