.post-container(id='p#{number}')
    .post-header
        button.post-reply-btn
            .front
                span($dyn=numberAttrs) #{number}
            .back reply
    .post-body !{prettyContent}
    .post-meta
        .post-time #{prettyTimestamp}
        .post-replies !{prettyReplies}